<h1 style="text-align: center; margin-bottom: 2rem;"><%= @team.name %></h1>

<div class="team-show">
  <div class="grid">
    <div class="block team-workouts">
      <div class="inner-block">
        <div class="block-title">
          <h3>Workout Schedule</h3>

          <% if current_user.is_coach? %>
            <%= link_to new_workout_path do %>
              <div class="btn-block-lrg">+ Schedule a New Workout</div>
            <% end %>
          <% end %>
        </div>
        <% @workouts.each do |workout| %>
          <%= link_to workout_path(workout) do %>
            <%= render partial: "app/workout_card", locals: {workout: workout} %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="block team-roster">
      <div class="inner-block">
        <div class="block-title">
          <h3>Roster</h3>
        </div>

        <div class="people">
          <h4>Coach:</h4>
          <p><%= @coach.name %></p>
          <br>
          <h4>Athletes:</h4>
          <% @athletes.each do |a| %>
            <p><%= a.name %></p>
          <% end %>
          <br>
          <% if current_user.is_coach? %>
            <% if @team.team_invites.any? %>
              <h4>Pending Invites:</h4>
              <% @team.team_invites.each do |invite| %>
                <p><%= link_to invite.user.name, team_invite_path(invite) %></p>
              <% end %>
            <% end %>
            <br>
            <%= link_to new_team_invite_path do %>
              <div class="btn-block-lrg">+ Invite Athlete</div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

