<h1 style="text-align: center; margin-bottom: 2rem;"><%= @team.name %></h1>

<div class="team-show">
  <div class="grid">
    <div class="block team-workouts">
      <div class="inner-block">
        <div class="block-title">
          <h3>Workout Schedule</h3>

          <% if current_user.is_coach? %>
            <%= link_to "Schedule a New Workout", new_workout_path %><br><br>
          <% end %>
        </div>
        <% @workouts.each do |workout| %>
          <%= link_to workout_path(workout) do %>
            <%= render partial: "app/workout_card", locals: {workout: workout} %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="block team-roster">
      <h3>Coach: <%= @coach.name %></h3>
      <h3>Athletes:</h3>
      <ul>
        <% @athletes.each do |a| %>
          <li><%= a.name %></li>
        <% end %>
      </ul>

      <% if current_user.is_coach? %>
        <%= link_to "Invite Athlete to Join", new_team_invite_path %>
        <% if @team.team_invites.any? %>
          <h3>Pending Invites:</h3>
          <ul>
            <% @team.team_invites.each do |invite| %>
              <li><%= link_to invite.user.name, team_invite_path(invite) %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

