<h2>Edit Workout <%= @workout.date_pretty %></h2>

<% if @workout.metcons.any? %>
  <% @workout.metcons.each do |metcon| %>
    <div>
      <h5>Metcon: <%= link_to "Remove", delete_workout_metcon_path(WorkoutMetcon.find_by(workout_id: @workout.id, metcon_id: metcon.id)), method: "delete" %></h5>
      <h3><%= metcon.title %></h3>
      <p style="white-space: pre-line;"><%= metcon.description %></p>
      <p>Score: <%= metcon.score_by %></p>
    </div>
  <% end %>
<% end %>





