<h2>Edit Workout <%= @workout.date_pretty %></h2>

<% if @metcons.any? %>
  <% @metcons.each do |metcon| %>
    <div>
      <h5>Metcon: 
        <%= link_to "Remove", delete_workout_metcon_path(WorkoutMetcon.find_by(workout_id: @workout.id, metcon_id: metcon.id)), method: "delete" %>
        <%= link_to "Edit #{metcon.title}", edit_metcon_path(metcon) %>
      </h5> 
      <h3><%= metcon.title %></h3>
      <p style="white-space: pre-line;"><%= metcon.description %></p>
      <p>Score: <%= metcon.score_by %></p>
    </div>
  <% end %>
<% end %>

<br>
<h3>Add Metcon:</h3>

<%= form_for @new_metcon do |f| %>
  <%= f.fields_for :workout do |workout_fields| %>
    <%= f.label :id, "#{@workout.id}"%>
  <% end %>
  <%= f.submit %>
<% end %>



