<div class="workouts-show">
  <div class="grid">
    <div class="block workout">
      <div class="inner-block">
        <div class="block-title">
          <h2><%= @workout.date_pretty %></h2>
          <p>Workout of the Day</p>
        </div>
        <div class="block-content">
          <% if @metcons.any? %>
            <% @metcons.each do |metcon| %>
              <div>
                <h4><%= metcon.title %> (Metcon)</h4><br>
                <p style="white-space: pre-line;"><%= metcon.description %></p>
                <p>Score: <%= metcon.score_by %></p><br>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="block block-highlight score">
      <div class="inner-block">
        <div class="block-title">
          <h2>My Performance</h2>
        </div>
        <div class="block-content">
          <% if @user_scores.any? %>
            <% @user_scores.each do |user_score| %>
              <% if user_score.score %>
                <h4 style="float: left;"><%= user_score.metcon.title %></h4>
                <div class="score-fields">
                  <%= user_score.score_formatted %>
                </div>
                <br>
              <% else %>
                <%= form_for user_score do |f| %>
                  <%= f.hidden_field :workout_metcon_id, value: "#{user_score.workout_metcon.id}" %>
                  <% if user_score.metcon.score_by == "reps" %>
                      <h4 style="float: left;"><%= user_score.metcon.title %></h4>
                      <div class="score-fields">
                        <%= f.text_field :score, placeholder: "# reps", class: "score-input" %>
                      </div>
                  <% elsif user_score.metcon.score_by == "time" %>
                      <h4 style="float: left;"><%= user_score.metcon.title %></h4>
                      <div class="score-fields">
                        <%= f.number_field :min, in: 00..59, placeholder: "min", class: "score-input"  %>
                        <%= f.label :sec, " : " %>
                        <%= f.number_field :sec, in: 00..59, placeholder: "sec", class: "score-input"  %>
                      </div>
                  <% end %>
                  <br>
                  <%= f.submit "Save", class: "btn-submit" %>
                  <br>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>