<h3><%= @workout.team.name %></h3>
<h2>Workout of the Day <%= @workout.date_pretty %></h2>

<% if @metcons.any? %>
  <% @metcons.each do |metcon| %>
    <div>
      <h5>Metcon:</h5>
      <h3><%= metcon.title %></h3>
      <p style="white-space: pre-line;"><%= metcon.description %></p>
      <p>Score: <%= metcon.score_by %></p>
    </div>
  <% end %>
<% end %>

<br><br>
<% if @workout_metcons.any? %>
  <% @workout_metcons.each do |wm| %>

    <% if wm.workout_metcon_scores.first.score.blank? %>

      <h3>Record Score for <%= wm.metcon.title %>:</h3>
      <%= form_for wm do |f| %>
          <%= f.fields_for :workout_metcon_scores do |score_fields| %>
          <%= score_fields.label :score %>
          <%= score_fields.text_field :score %>
        <% end %>
        <%= f.submit "Save Score" %>
      <% end %>

    <% else %>

      <h3><%= wm.metcon.title %></h3>
      <p>My Score: <%= wm.workout_metcon_scores.first.score %> <%= wm.metcon.score_by %></p>

    <% end %>
  <% end %>


<% end %>
