<div class="workouts-show">
  <div class="grid">
    <div class="block workout">
      <div class="inner-block">
        <div class="block-title">
          <h2><%= @workout.date_pretty %></h2>
          <p>Workout of the Day</p>
        </div>
        <div class="block-content">
          <% if @metcons.any? %>
            <% @metcons.each do |metcon| %>
              <div>
                <p>Metcon</p>
                <h4><%= metcon.title %></h4><br>
                <p style="white-space: pre-line;"><%= metcon.description %></p>
                <p>Score: <%= metcon.score_by %></p><br>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="block score">
      <div class="inner-block">
        <div class="block-title">
          <h2>My Performance</h2>
        </div>
        <div class="block-content">
          <% if @workout_metcons.any? %>
            <% @workout_metcons.each do |wm| %>
              <% if wm.workout_metcon_scores.first.score.blank? %>
                <%= form_for wm do |f| %>
                  <%= f.fields_for :workout_metcon_scores do |score_fields| %>
                    <% if wm.metcon.score_by == "reps" %>
                      <%= wm.metcon.title %>
                      <%= score_fields.label :score, "Reps: " %>
                      <%= score_fields.text_field :score %>
                    <% elsif wm.metcon.score_by == "time" %>
                      <h4 style="float: left;"><%= wm.metcon.title %></h4>
                      <div class="score-fields">
                        <%= score_fields.number_field :min, in: 00..59, placeholder: "min", class: "time-field"  %>
                        <%= score_fields.label :sec, " : " %>
                        <%= score_fields.number_field :sec, in: 00..59, placeholder: "sec", class: "time-field"  %>
                      </div>
                    <% end %>
                  <% end %>
                  <br>
                  <%= f.submit "Save", class: "btn-score" %>
                <% end %>

              <% else %>
                <h4 style="float: left;"><%= wm.metcon.title %></h4>
                <div class="score-fields">
                  <%= wm.workout_metcon_scores.first.score_formatted %>
                </div>
                <br>
              <% end %>

            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>