<h3><%= @workout.team.name %></h3>
<h2>Workout of the Day <%= @workout.date_pretty %></h2>

<% if @metcons.any? %>
  <% @metcons.each do |metcon| %>
    <div>
      <h5>Metcon:</h5>
      <h3><%= metcon.title %></h3>
      <p style="white-space: pre-line;"><%= metcon.description %></p>
      <p>Score: <%= metcon.score_by %></p>
    </div>
  <% end %>
<% end %>
