<div class="login-page">
  <div class="grid">
    <div class="block login">
      <div class="inner-block">
        <div class="block-title">
          <h2>Create Account</h2>
        </div>
        <div class="block-content">
          <%= form_for @user do |f| %>
            <%= f.label :name, "Name:" %><br>
            <%= f.text_field :name %><br>
            <%= f.label :email, "Email:" %><br>
            <%= f.text_field :email %><br>
            <%= f.label :password,"Password:" %><br>
            <%= f.password_field :password %><br>
            <%= f.label :password_confirmation, "Confirm Password:" %><br>
            <%= f.password_field :password_confirmation %><br>
            <%= f.submit "Sign Up", class: "btn-submit" %><br>
            <%= @user.errors.full_messages.to_sentence if @user.errors.any? %><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>  