<div class="workout-card" %>
  <div class="card-left">
    <h5><%= workout.today_or_day %></h5>
    <h6><%= workout.date_short %> - <%= workout.categories %></h6>
  </div>
  <div class="card-right">
    <div class="inline">
      <div class="inline icon-arrow-right"></div><h5 class="inline">Go to Workout</h5>
    </div>
    <br>
    <% if current_user.is_coach? %>
        <%= link_to edit_workout_path(workout) do %>
          <div class="card-btn">Edit</div>
        <% end %>
        <%= link_to delete_workout_path(workout) do %>
          <div class="card-btn delete-btn">Delete</div>
        <% end %>
    <% end %>
  </div>
</div>