<!DOCTYPE html>
<html>
  <head>
    <title>StrongrApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <nav>
      <div class="nav-logo">
        <%= link_to :root do %>
          <div class="logo"></div>
        <% end %>
      </div>
      <div class="nav-links">
        <% if !!current_user %>
          <%= link_to "Home", :app_home, class: "nav-link nav-home" %>
          <%= link_to "Team", team_path(current_user.team), class: "nav-link nav-team" if current_user.is_coach? %>
          <%= link_to "WOD", :wod, class: "nav-link nav-account" if current_user.has_team? %>
          <%= link_to "Log Out", :logout, method: :delete, class: "nav-link nav-log" %>
        <% else %>
          <%= link_to "Log In", :login, class: "nav-link nav-log" %>
        <% end %>
      </div>
    </nav>

    <%= yield %>

  </div>
  </body>
</html>
