<!DOCTYPE html>
<html>
  <head>
    <title>StrongrApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", :root %>
      <%= link_to "Log In", :login %>
      <%= link_to "Sign Up", :signup %>
      <%= link_to "Log Out", :logout, method: :delete %>
    </nav>

    <%= yield %>
  </body>
</html>
